*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* This is banner-section style  */
.banner-container{
    padding-top: 30px;
    height: 490px;
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-title{
    padding-top: 20px;
    margin-left: 100px;
    color: #272727;
    font-size: 60px; 
    font-weight: 800;
}
.banner-content{
    margin-top: 30px;
    margin-left: 100px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;

}
.btn-banner{
    margin-left: 100px;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    background-color:rgba(229, 84, 115, 1) ;
    color: rgba(255, 255, 255, 1);
}
.banner-pic img{
    width: 395px;
    padding-right: 50px;
}

/* This is featured-section */
.featured-title{
    padding-top:130px ;
    text-align: center;
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;

}
.featured-content{
    padding-top: 30px;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}
.featured-section{
    padding-top: 100px;
   padding-left: 250px;
    display: flex;
    gap: 12px;
    align-items: center;
}
.featured-pic-one{
    width: 150px;
    margin-left: 50px;
    padding-top: 93px;
}
.featured-pic-two{
    width: 200px;
    margin-left: 30px;
    padding-top: 75px;
}
.featured-pic-three{
    width: 150px;
    margin-left: 50px;
    padding-top: 75px;
}
.first-flower{
    width: 250px;
    height: 300px;
    border: none;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 150px 150px  0px 0px; 
}
.first-flower-name{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding-top: 20px;
}
.first-flower-name a{
    color: #272727;
}
.second-flower{
    width: 250px;
    height: 300px;
    border: none;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 150px 150px  0px 0px;
    
}
.second-flower-name{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding-top: 45px;
}
.second-flower-name a{
    color: #272727;
}
.third-flower{
    width: 250px;
    height: 300px;
    border: none;
    background-color:rgba(71, 125, 17, 0.15);
    border-radius: 150px 150px  0px 0px;
}


.third-flower-name{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding-top: 20px;
}
.third-flower-name a{
    color: #272727;
}

/* This is service-Section */

.service-section{
    width: 58%;
    margin-left: 240px;
    padding: 50px 0px 50px 0px;
    margin-top: 15%;
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.delivery img{
    width: 50px;
    padding-left: 100px;
}
.delivery h5{
    padding-top: 10px;
    color: rgba(39, 39, 39, 0.80);
    font-size: 16px;
    font-weight: 600;  
}
.fresh-flower img{
    width: 50px;
    padding-left: 70px;
}
.fresh-flower h5{
    padding-top: 10px;
    color: rgba(39, 39, 39, 0.80);
    font-size: 16px;
    font-weight: 600;  
}

.free-support img{
    width: 50px;
    padding-left: 20px;
}
.free-support h5{
    padding-top:10px ;
    color: rgba(39, 39, 39, 0.80);
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;  
}

/* This is Flower-card */
.flowers-card{
    margin-top: 130px;
}
.card{
    width: 70px;
    height: 200px;
    display: flex;
    padding-left: 250px;
    align-items: center;
    
}
.card-one img{
    width: 150px;
  
}
.card-two img{
    width: 150px;
}
.card-three img{
    width: 150px;
}
.card-one{
    box-shadow: 20px 20px 50px rgb(78, 77, 77);
    padding: 10px 10px 10px 10px;  
    border-radius: 10px;
}
.card-one h4{
    color: #272727;
    font-weight: 600;
}
.card-two{
    box-shadow: 20px 20px 50px rgb(78, 77, 77);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-left: 130px;
}
.card-two h4{
    color: #272727;
    font-weight: 600;
}
.card-three{
    box-shadow: 20px 20px 50px rgb(78, 77, 77);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-left: 130px;
}

.card-three h4{
    color: #272727;
    font-weight: 600;
   
}
.btn-card{
    cursor: pointer;
    margin-top: 10px;
    color: white;
    background-color:rgba(229, 84, 115, 1) ;
    border: none ;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

/* This is Hot Deal Section  */
.discount-section{
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 170px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hot-deal-sell{
    padding-left: 100px;
}
.hot-deal-sell h2{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    padding-left: 50px;
}
.hot-deal-sell p{
    padding-left: 50px;
    padding-top: 30px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.hot-deal-sell span{
    color: rgba(229, 84, 115, 1);
}
.btn-hot-deal{
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    background-color: #E55473;
    border: none;
    color: rgba(255, 255, 255, 1);
    margin-top: 30px;
    margin-left: 250px;
    cursor: pointer;
}
.hot-deal-pic img{
    width: 200px;
    margin-right: 200px;
}

 /* This is Flower item  */

.flower-item-title{
    margin-top: 110px;
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
 .flower-item-content{
    padding-top: 20px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    
 }
 .flower-item{
    padding-top: 40px;
    display: flex;
    padding-left: 200px;

 }
.item-pic{
    padding-left: 50px;
    width: 157px;
}

/* this is Input Field  */
.bg-image{
    color: #272727;
    font-size: 20px;
    margin-left: 240px;
    width: 58%;
    height: 250px;
    margin-top: 100px;
    padding-top: 50px;
    text-align: center;
    border-radius: 10px;
    background: url("images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image h2{
    padding-left: 150px;
}
.bg-image-content{
    padding-top: 10px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-left: 160px;
    
}
.email{
    margin-top: 25px;
    padding: 10px 10px 10px 10px;
    border: none;
    width: 400px;
    border-radius: 5px;
    margin-left: 100px;
}
.submit{
    cursor: pointer;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    background: #E55473;
    color: white;
    padding: 10px 20px 10px 20px;
}
/* This is Footer Section  */
.footer-section{
   margin-top:120px ;
   width: 100%;

}
.end{
    padding : 80px  80px ;
    background-color: #111010;;
    color:white;
    text-align: center;
}
.end span {
    color: #E55473;
    font-weight: 800;
}
.footer-content{
    padding-top: 20px;
    text-align: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.555);
}
.end small{
    color: rgba(255, 255, 255, 0.40);
    font-size: 12px;
    font-weight: 400;
}